<footer class="site-footer">

  <div class="wrapper">

    <div class="custom-footer">
      <div class="social-icons">
        {%- for item in site.data.social -%}
          <a
            href="{{ item.url | escape }}"
            title="{{ item.title | escape }}"
            aria-label="{{ item.title | escape }}"
            {%- if item.external -%} target="_blank" rel="noopener noreferrer"{%- endif -%}>
            {%- case item.key -%}
              {%- when "instagram" -%}
                {%- include icon-instagram.html -%}
              {%- when "mixcloud" -%}
                {%- include icon-mixcloud.html -%}
              {%- when "email" -%}
                {%- include icon-email.html -%}
            {%- endcase -%}
          </a>
        {%- endfor -%}
      </div>

    </div>

  </div>

</footer>
