<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="custom-footer">
      {%- if site.description -%}
        <p class="footer-tagline">{{ site.description | escape }}</p>
      {%- endif -%}

      <div class="social-icons">

        {%- if site.social.instagram_username -%}
          <a href="https://www.instagram.com/{{ site.social.instagram_username | cgi_escape | escape }}" title="Instagram" target="_blank" rel="noopener noreferrer">
            {%- include icon-instagram.html -%}
          </a>
        {%- endif -%}

        {%- if site.social.instagram_username -%}
          <a href="https://www.mixcloud.com/{{ site.social.mixcloud_username | cgi_escape | escape }}" title="Mixcloud" target="_blank" rel="noopener noreferrer">
            {%- include icon-mixcloud.html -%}
          </a>
        {%- endif -%}    
        
         {%- if site.email -%}
          <a href="mailto:{{ site.email }}" title-="Email">
            {%- include icon-email.html -%}
          </a>
        {%- endif -%}        
        
      </div>
    </div>
  </div>
</footer>