<footer class="site-footer h-card">
  <a class="u-url" href="{{ '/' | relative_url }}"></a>

  <div class="wrapper">
    <div class="custom-footer">
      {%- if site.description -%}
        <p class="footer-tagline">{{ site.description | escape }}</p>
      {%- endif -%}

      <div class="social-icons">
        {%- for item in site.data.social -%}
          {%- if item.url -%}
            <a
              href="{{ item.url | escape }}"
              title="{{ item.title | escape }}"
              aria-label="{{ item.title | escape }}"
              {%- if item.external -%} target="_blank" rel="noopener noreferrer"{%- endif -%}>
              {%- case item.key -%}
                {%- when "instagram" -%}
                  {%- include icon-instagram.html -%}
                {%- when "mixcloud" -%}
                  {%- include icon-mixcloud.html -%}
                {%- when "email" -%}
                  {%- include icon-email.html -%}
                {%- else -%}
                  <!-- no matching icon include; you can add more cases or put a default icon here -->
                {%- endcase -%}
            </a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</footer>