---
# Only the main Sass file needs front matter (dashes are enough)
---

// Import the Minima theme's stylesheet first
@import "minima";

//
// DEFINE CUSTOM FONTS
//

// Gaya Regular
@font-face {
	font-family: 'Gaya Regular';

	src: url('{{ "/assets/fonts/gaya-regular.otf" | relative_url }}') format('opentype');

	font-weight: normal;

	font-style: normal;
}

// Gaya Italic
@font-face {
	font-family: 'Gaya Italic';

	src: url('{{ "/assets/fonts/gaya-italic.otf" | relative_url }}') format('opentype');

	font-weight: normal;

	font-style: normal;
}

//
// APPLY CUSTOM FONTS
//

// Apply Gaya Italic to site title
.site-title {
	font-family: 'Gaya Italic';
}

//
// SET FOOTER STYLE
//

// Centre-align footer
.custom-footer {
	text-align: center;
	padding: 20px 0;
}

// Style footer tagline
.footer-tagline{
	color: #424242;
	margin-bottom: 15px;
}

// Style social icons
.social-icons .svg-icon {
	fill: #424242
}

.social-icons a {
	margin: 0 15px;
}

.social-icons a:hover .svg-icon {
	fill: black
}

//
// SET LINK STYLE
//

// Hover behaviour for all general link-style elements
a:hover {
	text-decoration: none;
}

//Pre-hover behaviour for body links
.post-content a {
	color: #007bff;
}