---
---

@import "minima";

// Variables

$color-background: #6f283b;
$color-footer: #8b5a63;
$color-text: #eee;
$color-link: #eee;
$color-link-hover: #e3d0b7;

$font-gaya-regular: 'Gaya Regular', sans-serif;
$font-gaya-italic: 'Gaya Italic', sans-serif;

// Custom fonts

@font-face {
	font-family: 'Gaya Regular';
	src: url('{{ "/assets/fonts/gaya-regular.otf" | relative_url }}') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gaya Italic';
	src: url('{{ "/assets/fonts/gaya-italic.otf" | relative_url }}') format('opentype');
	font-weight: normal;
	font-style: normal;
}

// Global

body {
	background-color: $color-background;
}

a:hover {
	text-decoration: none;
}

// Header

.site-header {
	border-top: none;
	border-bottom: none;
	background-color: $color-background;

	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;

	.wrapper {
		border-bottom: 1px solid $color-text;
	}

	.site-title {
		font-family: $font-gaya-italic;
		color: $color-link;
		letter-spacing: .1px;
		transition: color 0.3s ease;
		font-size: 1.75rem;

		&:visited {
			color: $color-link;
		}

		&:hover {
			color: $color-link-hover;
		}
	}

	.page-link {
		color: $color-link;
		font-weight: 300;
		transition: color 0.3s ease;
		font-size: 1.1rem;

		&:not(:last-child) {
			margin-right: 40px;
		}

		&:visited {
			color: $color-text;
		}

		&:hover {
			color: $color-link-hover;
		}
	}
}

// Body and page text

main.page-content {
	flex: 1;
}

.post-content {
	color: $color-text;
	flex: 1;

	a {
		color: $color-link;
		text-decoration: underline;
		transition: color .3s ease;

		&:hover {
			color: $color-link-hover;
		}
	}
}

.post-title,
.page-heading {
	color: $color-text;
}

// Footer

.site-footer {
	background-color: $color-footer;
	border-top: none;
	padding: 20px 0;
}

.custom-footer {
	text-align: center;
}

.footer-tagline{
	color: $color-text;
	font-size: 14px;
	margin-bottom: 15px;
}

.social-icons {
	.svg-icon {
		fill: $color-text;
		transition: fill 0.3s ease;
		width: 20px;
		height: 20px;
	}

	a {
		margin: 0 8px;

		&:hover .svg-icon {
			fill: $color-link-hover;
		}
	}
}

// Mobile menu

@include media-query ($on-palm) {

	.site-nav {
		background-color: $color-background;
		border: 1px solid $color-text;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		ul {
			padding-left: 0;
		}

		.page-link {
			color: $color-link;
			padding: 10px 10px;

			&:hover {
				color: $color-link-hover;
			}

			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}	

	.menu-icon > svg path {
		fill: $color-text;
	}
}

// Home page style

.home-content {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 75vh;
	flex: 1;
}

.home-image {
	max-width: 85%;
	height: auto;
}