---
---

@import "minima";

//
// DEFINE CUSTOM FONTS
//

@font-face {
	font-family: 'Gaya Regular';

	src: url('{{ "/assets/fonts/gaya-regular.otf" | relative_url }}') format('opentype');

	font-weight: normal;

	font-style: normal;
}

@font-face {
	font-family: 'Gaya Italic';

	src: url('{{ "/assets/fonts/gaya-italic.otf" | relative_url }}') format('opentype');

	font-weight: normal;

	font-style: normal;
}

//
// GLOBAL STYLE
//

body {
	background-color: #6f283b;
}

//
// CUSTOM FONTS
//

.site-header .site-title {
	font-family: 'Gaya Italic';
	color: #fff7e7;
	letter-spacing: .1px;
}
.site-header .site-title:visited {
	color: #fff7e7;
}

//
// NAV LINK STYLE
//
.site-header .page-link {
	padding-left: 10px;
	padding-right: 10px;
	color: #fff7e7;
}

//
// BODY AND PAGE TEXT STYLE
//

.post-content {
	color: #fff7e7;
}

.post-title,
.page-heading {
	color: #fff7e7
}

a:hover {
	text-decoration: none;
}

.post-content a {
	color: #0065d5;
}

//
// HEADER STYLE
//

.site-header {
	border-top: none;
	border-bottom: none;
	background-color: #8b5a63;
}

//
// FOOTER STYLE
//

.site-footer {
	border-top: none;
	background-color: #8b5a63;
	padding: 20px 0;
}

.custom-footer {
	text-align: center;
}

.footer-tagline{
	font-size: 12px;
	color: #fff7e7;
	margin-bottom: 15px;
}

.social-icons .svg-icon {
	fill: #fff7e7;
}

.social-icons a {
	margin: 0 15px;
}

.social-icons a:hover .svg-icon {
	fill: gray;
}